*{
    padding: 20px;
}
body{
    background-color: coral;
}
.contenedor{
    background-color: white;
}
/* agregamos color al Texto del Parrafo */
.parrafocolor{
    color: yellow;
    border: solid;
    border-color: red;
}
/* alineamos el Parrafo a la derecha */
.parrafoderecha{
    text-align: right;
    border: solid;
    border-color: red;
}
/* alineamos el Parrafo al centro */
.parrafocentro{
    text-align: center;
    border: solid;
    border-color: red;
}
/* alineamos el Parrafo a la Izquierda */
.parrafoizquierda{
    text-align: left;
    border: solid;
    border-color: red;
}
/* Justificamos el parrafo */
.parrafojustificado{
    text-align: justify;
    border: solid;
    border-color: red;
}
/* alineamos el Parrafo a la parte Superior */
.parrafosuperior{
    vertical-align: top;
    border: solid;
    border-color: red;
}
/* alineamos el Parrafo a la parte Superior */
.parrafoinferior{
    vertical-align: bottom;
    border: solid;
    border-color: red;
}
/* alineamos el Parrafo a la parte Media */
.parrafomedio{
    vertical-align: middle;
    border: solid;
    border-color: red;
}
/* agregando decoraciones al texto */
.parrafosobrelinea{
    text-decoration: overline;
    border: solid;
    border-color: red;
}
.parrafosubrayado{
    text-decoration: underline;
    border: solid;
    border-color: red;
}
.parrafotachado{
    text-decoration: line-through;
    border: solid;
    border-color: red;
}
/* agregamos tranformaciones al texto */
.parrafomayuscula{
    text-transform: uppercase;
    border: solid;
    border-color: red;
}
.parrafominuscula{
    text-transform: lowercase;
    border: solid;
    border-color: red;
}
.parrafonompropio{
    text-transform: capitalize;
    border: solid;
    border-color: red;
}
/* agregamos espacios a los textos de parrafos */
.parrafosangria{
    text-indent: 10px;
    border: solid;
    border-color: red;
}
.parrafoespacio{
    letter-spacing: 15px;
    border: solid;
    border-color: red;
}
.parrafocomprimido{
    letter-spacing: -3px;
    border: solid;
    border-color: red;
}
.parrafoespaciolinea{
    line-height: 2px;
    border: solid;
    border-color: red;
}
.parrafoespacioamplio{
    line-height: 7px;
    border: solid;
    border-color: red;
}
.parrafoletraespacio{
    word-spacing: 15px;
    border: solid;
    border-color: red;
}
.parrafoletracomprimido{
    word-spacing: -3px;
    border: solid;
    border-color: red;
}
.parrafosombra{
    text-shadow: 2px 3px orange;
    border: solid;
    border-color: red;
}
.parrafosombradifuminado{
    text-shadow: 2px 3px 5px orange;
    border: solid;
    border-color: red;
}